.links img:hover {
    color: #34ABE0;
    display: block;
}

@media(min-width: 320px) and (max-width: 568px) {
  .burger {
    width: 26px;
    height: 2px;
    background-color: #262626;
    position: relative;
    align-self: center;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 1000;
    transition: all .1s ease-in-out;
  }

  .glass {
    position: relative; display: block; left: 55px;
  }

  .burger:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 26px;
    height: 2px;
    background-color: #262626;
  }
  
  .burger:before {
    content: '';
    position: absolute;
    top: 14px;
    width: 26px;
    height: 75%;
    background-color: #262626;
  }

  .cross {
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

}

@media(min-width: 768px) and (max-width: 1024px) {
  .burger {
    width: 26px;
    height: 2px;
    background-color: #262626;
    position: relative;
    align-self: center;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 1000;
    transition: all .1s ease-in-out;
  }

  .glass {
    position: relative; display: block; left: 55px;
  }

  

  .burger:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 26px;
    height: 2px;
    background-color: #262626;
  }
  
  .burger:before {
    content: '';
    position: absolute;
    top: 14px;
    width: 26px;
    height: 75%;
    background-color: #262626;
  }

  .cross {
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

}


@media(min-width: 900px) and (max-width: 1440px) {
  .burger {
    width: 26px;
    height: 2px;
    background-color: #262626;
    position: relative;
    align-self: center;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 1000;
    transition: all .1s ease-in-out;
  }

  

  .burger:after {
    content: '';
    position: absolute;
    top: 7px;
    width: 26px;
    height: 2px;
    background-color: #262626;
  }
  
  .burger:before {
    content: '';
    position: absolute;
    top: 14px;
    width: 26px;
    height: 75%;
    background-color: #262626;
  }

  .cross {
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

}

@

.nav__search {
  position: relative;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}